<!-- As a heading -->
<!-- <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><img src="../../../assets/android-chrome-192x192.png">App Empleados Firebase</span>
      <button (click)="logOut()" type="button" class="btn btn-primary">Logout</button>
    </div>
  </nav> -->
  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">Cipriano Escorche</a>
<ul class="navbar-nav flex-row d-md-none">
  <li class="nav-item text-nowrap">
    <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
      <svg class="bi"><use xlink:href="#search"></use></svg>
    </button>
  </li>
  <li class="nav-item text-nowrap">
    <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="bi"><use xlink:href="#list"></use></svg>
    </button>
  </li>
</ul>
<div id="navbarSearch" class="navbar-search w-100 collapse">
  <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
</div>
</header>